<br/>
<section class="index-title">
    <h1 class="site-title"><%- config.title %></h1>
    <div class="description"><%- config.description %></h3>
</section>
<header>
    <nav>
        <% let nav_idx = 0; %>
        <% for(link in theme.index.links) { %>
            <% nav_idx++ %>
            <%- nav_idx > 1 ? " | " : "" %><a href="<%- url_for(theme.index.links[link]) %>"><%- __(link) %></a>
        <% } %>
    </nav>
</header>
<!-- <div class="head-img">
    <%- image_tag('imgs/beach.jpg') %>
</div> -->
<article class="index-article">
    <!-- <h1>Articles</h1> -->
     <hr/>
    <div class="article-list">
        <% for (idx in page.posts.data) { %>
            <% let post = page.posts.data[idx] %>
            <% if(idx > 0) { %>
                <!-- <hr> -->
            <% } %>
            <div class="article-item"> 
                <div class="article-item-title">
                    <h2>
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h2>
                    <p class="date">
                        <% if (post.date) { %>
                            <%= post.date.format("YYYY/MM/DD") %>
                        <% } %>
                    </p>
                </div>
                <!-- <div class="article-item-excerpt article">
                    <div>
                        <%- post.excerpt || post.content %>
                    </div>
                </div> -->
            </div>

            <!-- <div style="text-align: right;">
                <button type="button" class="read-more">
                    <a href="<%- url_for(post.path) %>">Link to Article</a>
                </button>
            </div> -->
        <% } %>
    </div>

    <%- partial('component/paginator', { total: site.posts.length }) %>
</article>
