<!DOCTYPE html>

<html lang="<%- config.language %>">

<%- include('partial/head') %>

<body id="delicate-app">
    <main>
        <div class="container">
            <a href='/' class="back-button">
                <span title="github"><i class="fa fa-home" aria-hidden="true"></i></span>
            </a>
            <%- body %>
            <section class="article-bottom flex-between">
                <div class="flex-center">
                    <a href="mailto:<%- theme.email %>">
                        <span title="envelope">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="https://github.com/Veivel/hexo">
                        <span title="github" style="font-size: 18px;">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="https://linkedin.com/in/veivel">
                        <span title="linkedin" style="font-size: 18px;">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </section>
        </div>
    </main>

    <%- include('component/toTop') %>

    <footer>
        <%- include('partial/footer') %>
    </footer>

    <%- include('partial/foot') %>
</body>

</html>